{# templates/emails/reservation_confirmation.html.twig #}
<h2>Confirmation de votre réservation</h2>
<p>Bonjour {{ reservation.nom }} {{ reservation.prenom }},</p>

<p>Votre réservation pour le vol numéro {{ reservation.vol.id }} est confirmée.</p>
<p>Nombre de places : {{ reservation.nbrPlaces }}</p>
<p>Prix payé : {{ reservation.prix }} €</p>

<p>Merci pour votre confiance ✈️</p>
