{% extends 'base.html.twig' %}

{% block title %}Pack d'Agence - Détails{% endblock %}

{% block body %}
    <h1>Détails du Pack d'Agence</h1>

    <ul>
        <li><strong>Nom du Pack :</strong> {{ packAgence.nomPk }}</li> <!-- Changement ici -->
        <li><strong>Agence :</strong> {{ packAgence.idAgence.nomAg }}</li> <!-- Assurez-vous que la méthode "getNomAg" existe dans Agence -->
        <li><strong>Prix :</strong> {{ packAgence.prix }} €</li>
        <li><strong>Durée :</strong> {{ packAgence.duree }} jours</li>
        <li><strong>Status :</strong> {{ packAgence.status }}</li>
        <li><strong>Services Inclus :</strong> {{ packAgence.services_inclus }}</li>
        <li><strong>Description :</strong> {{ packAgence.descriptionPk }}</li> <!-- Changement ici -->
    </ul>

    <a href="{{ path('app_pack_agence') }}">Retour à la liste des packs</a>

{% endblock %}
