{{ form_start(form) }}
    {{ form_row(form.user) }}
    {{ form_row(form.commentaire) }}
    {{ form_row(form.note) }}
    {{ form_row(form.photo) }}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
