{% extends 'base.html.twig' %}
{% block title %}Détail avis{% endblock %}
{% block body %}
    <h1>Avis #{{ avi.id }}</h1>
    <p><strong>Auteur :</strong> {{ avi.user.prenom }} {{ avi.user.nom }}</p>
    <p><strong>Commentaire :</strong> {{ avi.commentaire }}</p>
    <p><strong>Note :</strong> {{ avi.note }}</p>
    <p><strong>Date :</strong> {{ avi.dateCreation|date('Y-m-d H:i') }}</p>
    {% if avi.photo %}
        <img src="{{ asset('uploads/avis/'~avi.photo) }}" style="max-height:150px">
    {% endif %}
    <p>
        <a href="{{ path('app_avis_edit', {'id': avi.id}) }}">Éditer</a>
        {{ include('avis/_delete_form.html.twig') }}
        <a href="{{ path('app_avis_index') }}">← Retour</a>
    </p>
{% endblock %}
