{% extends 'base.html.twig' %}

{% block title %}Modifier Hébergement{% endblock %}

{% block body %}
    <h1>Modifier Hébergement</h1>

    {% if hebergement.imageh %}
        <div>
            <p>Image actuelle :</p>
            <img src="{{ asset('img/' ~ hebergement.imageh) }}" alt="{{ hebergement.nomh }}" width="200">
        </div>
    {% endif %}

    {{ include('hebergement/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_hebergement_index') }}">Retour à la liste</a>

    {{ include('hebergement/_delete_form.html.twig') }}
{% endblock %}
