{% extends 'base.html.twig' %}

{% block title %}Hebergement{% endblock %}

{% block body %}
    <h1>Hebergement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_hebergement</th>
                <td>{{ hebergement.id }}</td>
            </tr>
            <tr>
                <th>Nomh</th>
                <td>{{ hebergement.nomh }}</td>
            </tr>
            <tr>
                <th>Typeh</th>
                <td>{{ hebergement.typeh }}</td>
            </tr>
            <tr>
                <th>Adressh</th>
                <td>{{ hebergement.adressh }}</td>
            </tr>
            <tr>
                <th>Capaciteh</th>
                <td>{{ hebergement.capaciteh }}</td>
            </tr>
            <tr>
                <th>Prixh</th>
                <td>{{ hebergement.prixh }}</td>
            </tr>
            <tr>
                <th>Disponibleh</th>
                <td>{{ hebergement.disponibleh }}</td>
            </tr>
            <tr>
                <th>Descriptionh</th>
                <td>{{ hebergement.descriptionh }}</td>
            </tr>
            <tr>
                <th>Imageh</th>
                <td>{{ hebergement.imageh }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_hebergement_index') }}">back to list</a>

    <a href="{{ path('app_hebergement_edit', {'id_hebergement': hebergement.id}) }}">edit</a>

    {{ include('hebergement/_delete_form.html.twig') }}
{% endblock %}
