{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>
    {{ form_start(form) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.mail) }}
        {{ form_row(form.tel) }}
        {{ form_row(form.status) }}
        {{ form_row(form.role) }}
        {{ form_row(form.password) }}
        {{ form_row(form.confirm_password) }}
        <button class="btn">Update</button>
    {{ form_end(form) }}
{% endblock %}
