{% extends 'base.html.twig' %}
{% block title %}Liste des utilisateurs{% endblock %}
{% block body %}
    <h1>Utilisateurs</h1>
    <a href="{{ path('app_user_new') }}">+ Nouvel utilisateur</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Mail</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.idUser }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.mail }}</td>
                    <td>
                        <a href="{{ path('app_user_show', {'id_user': user.idUser}) }}">Voir</a>
                        <a href="{{ path('app_user_edit', {'id_user': user.idUser}) }}">Éditer</a>
                        {{ include('user/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun utilisateur trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
